<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter PIN</title>
    <!--CSS files here -->
    <link rel="stylesheet" href="/css/logreg.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="col-md-5 offset-md-3">
		<div class="contain">
			<h1>Reset Password</h1>  
			<ul class="invalid-msg">
				<% if(messages.success_msg) { %>
				<li><%= messages.success_msg %></li>
				<% } %>
			</ul>

			<form name="ResetPassword" action="/users/enter-PIN" method="POST">
				<div class="form-group">
					<label for="email">Enter the PIN sent to your email</label>
					<input type="text" id="pin" name="pin" class="form-control" placeholder="PIN" maxlength="45" required>
					<!-- <input id="email" type="hidden" name="email" value="<%= email %>"> -->
					<input type="hidden" id="email" class="hidden-email" name="email" class="form-control" value="<%= email %>">				
				</div>

				<div class="form-group btn">
					<input class="form-control btn btn-primary" type="submit" value="Reset Password">
				</div>
			</form>
		</div>
	</div>
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>