<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/logreg.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/js/pictureValidation.js"></script>
    <script src = "/js/checkEmail.js"></script>
</head>

<body>
  <div class="col-md-5 offset-md-3">

    <div class= "contain">
    
    <h1> Sign-Up</h1>
    
    <div>
      <ul class="invalid-msg">
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %> <% } %>
      </ul>
    </div>

    <form method="post" id = "form" enctype="multipart/form-data" action="/users/register">
      
      <div class="form-group">	
        <label for = "fname">First Name: </label>
        <input type=text name = "fname" id="fname" class = "form-control" minlength = "1" maxlength = "50" placeholder="First Name" lang = "en" pattern = "[a-zA-ZÑñÉé]+([ \-']{0,1}[a-zA-ZÑñÉé]+){0,2}[.]{0,1}" required /> 
      </div>	

      <div class="form-group">	
        <label for = "lname">Last Name: </label>
        <input type=text name = "lname" id="lname" class = "form-control" minlength = "1" maxlength = "50" placeholder="Last Name" lang = "en" pattern = "[a-zA-ZÑñÉé]+([ @\-']{0,1}[a-zA-ZÑñÉé]+){0,2}[.]{0,1}" required /> 
      </div>	
      
      <div class="form-group">
        <label for = "email">Email: </label>
        <input type=email name = "email" id ="email" class = "form-control" placeholder="Email" lang= "en" minlength = "3" maxlength = "254" onchange="return checkEmail()" required /> 
      </div>

      <div class="form-group">
        <label for = "phone">Phone Number: </label>
        <input type=text name = "phone" id = "phone" class = "form-control" placeholder = "09*********" pattern = "09\d{9}" required /> 
      </div>
  
      <div class="form-group">		
        <label for= "uname">Username: </label>
        <input type=text name = "uname" id = "uname" class = "form-control" minlength = "1" maxlength = "100" placeholder = "Username" lang = "en" pattern = "[a-zA-Z0-9ÑñÉé.,!$%&#?^_\-+;:]{1,100}" required /> 
      </div>	
  
      <div class="form-group">		
        <label for= "password">Password: </label> 
        <input type=password name ="password" id ="password"class = "form-control" minlength= "8" maxlength= "16" placeholder="Password" required />	
      </div>

      <div class="form-group">		
        <label for= "cpass">Confirm Password: </label> 
<<<<<<< Updated upstream
        <input type=password name ="cpass" id ="cpass"class = "form-control" minlength= "8" maxlength= "16" placeholder="Confirm Password" required />	
=======
        <input type=password name ="cpass" id ="cpass"class = "form-control" minlength= "8" maxlength= "32" placeholder="Confirm Password" required />	
      </div>
      
      <div class="form-group">
        <label for ="image">Upload Profile Picture: </td>
        <div style="height: 0px; overflow: hidden;">
          <input type=file accept="image/*" id="image" name="image" required />
        </div>
        <button type="button" class="btn btn-secondary btn-sm" onclick="uploadImg()">Upload Image</button>
>>>>>>> Stashed changes
      </div>
<<<<<<< Updated upstream
  
      <div class="text-center submit-btn"> <a href = "/users/pfp">
        <input class="form-control btn btn-primary" type="submit"  value="Register" /> </a>
=======

      <div class="form-group">
      <input type="file" id = "file" name="file" accept="image/*">
>>>>>>> Stashed changes
      </div>

      <div class="text-center submit-btn"> <a href = "/users/register">
        <input class="form-control btn btn-primary" type="submit"  value="Register" onclick="submitPfp()" /> </a>
      </div>

    </form>
    
    <div class="form-group">Have an account already? <a href = "/users/login"> Login</a></div>

    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>